{{define "reviewtable"}}
<html lang="en">
{{template "header"}}
<div class="banner"></div>
{{template "navbar"}}

<table id="top">
    {{template "outside" .}}
    {{template "eating" .}}
    {{template "fountain" .}}
    {{template "inventory" .}}
</table>
{{template "footer"}}
{{end}}
